<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "pic.jpg" %>
	</div>
<div id="content">
	<h1>Hi, I'm Giriraj Nagaraju</h1>
	<p>Welcome to 12 apps in 12 days challenge</p>
	<p>This is my second app and im still having lot of doubts</p>
</div>	
</div>